* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 10px;
    margin: 0 auto;
    color: #999999;
    font-weight: bold;
    text-align: center;
    z-index: -1;
}
nav {
    background: #262626;
    height: 80px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}
nav ul {
    float: right;
    margin-right: 80px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 18px;
    padding: 4px 8px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}
a.active {
    border-radius: 2px;
    color: #ffa90a;
}
a:hover {
    background: #262626;
    border-radius: 2px;
    color: #ffd793;
    transition: 0.5s;
}
article h1 {
    font-size: 36px;
    padding: 20px 0;
    text-transform: capitalize;
}
article.landing {
    color: #262626;
    margin: auto;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
}
article.landing p {
    font-size: 18px;
    width: 50%;
    padding: 20px 0;
    margin: 0 auto;
}
article.landing hr {
    width: 50%;
    margin: 0 auto;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.container {
    width: 50%;
    margin: 80px auto 40px;
    padding-top: 20px;
}
.container .row {
    background-color: white;
    padding: 50px;
}
.container .row h2, h3, h4, h5 {
    margin-bottom: 20px;
}
.container .row ul, ol {
    margin: 10px 30px;
    padding-left: 0;
}
.img-me {
    display: block;
    margin: 0 auto;
    width: 400px;
    border-radius: 50%;
}
.post-img {
    max-width: 75%;
    display: block;
    border-radius: 10px;
    margin: 20px auto;
}
#check {
    display: none;
}
@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
    article h1 {
        font-size: 30px;
        padding: 10px 0;
    }
    article.landing p {
        width: 75%;
        padding: 15px 0;
    }
    article.landing hr {
        width: 75%;
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #262626;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a.active, a:hover {
        background: #ffd793;
        color: black;
    }
    article.landing p {
        width: 100%;
        padding: 10px 0;
    }
    article.landing hr {
        width: 100%;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .container {
        width: 100%;
    }
    .container .row {
        padding: 20px;
    }
    .img-me {
        width: 50%;
    }
    .post-img {
        max-width: 100%;
        display: block;
        border-radius: 10px;
        margin: 20px auto;
    }
}