.logo {
    color: black;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 30px;
    transition: 0.3s;
}
.logo:hover {
    color: darkorange;
    text-decoration: none;
}